@require './_variables'
@require './_mixins'

@import './_utilities'
@import './_roboot'
@import './_layout'
@import './_components/_nprogress'
@import './_components/_code'
@import './_components/_block'

.navbar
  position fixed
  z-index 20
  top 0
  left 0
  right 0
  height $navbarHeight
  background-color #fff
  box-sizing border-box
  border-bottom 1px solid $borderColor

.sidebar-mask
  position fixed
  z-index 9
  top 0
  left 0
  width 100vw
  height 100vh
  display none

.content-block__cont, .content-block__examples
  padding 0 3rem 0

.content-block__examples
  padding-bottom 60px

.category__header-item::before 
  margin-right 8px
  content ""

.category__label, .category__label
	font-size 15px

.content-block 
  margin 0rem -6rem 0rem

.page--block-layout 
	padding 0rem 6rem 0

.page--block-layout .content__footer-container
  margin 0 -6rem

.sidebar::-webkit-scrollbar 
  display none

.content table, .content th, .content td {
  border: none
}

.content table tr {
  border-top: 1px solid #eaeaea
  &:last-child {
    border-bottom: 1px solid #eaeaea
  }
}

.content table tr td:first-child, .content table tr th:first-child {
  width: 150px
}

.content table tr td:first-child code {
  color: #939da3
  padding: 0
  background: none
}

.content span.required 
  margin-right 4px

.content span.required code
  color #939da3
  padding 0.2rem 0.4rem

.navbar a.home-link, .navbar span.home-link, .navbar img.home-link
  display flex
  align-items center
  width 150px

.navbar .home-link .logo
  flex 0 0 94px

.navbar .home-link .site-name
  font-size 22px
  flex 0 0 auto
  display flex
  align-items center
  padding-left 15px
  height 26px
  border-left 1px solid rgba(56,69,88,0.1)
  font-weight 400

.group__title
  margin-top 46px
